services:
  pgadmin:
    image: dpage/pgadmin4:latest
    restart: always
    environment:
      PGADMIN_DEFAULT_EMAIL: admin@admin.com
      PGADMIN_DEFAULT_PASSWORD: admin
      PGADMIN_LISTEN_PORT: 5050
    volumes:
      - "${APP_DATA_DIR}/pgadmin_data:/var/lib/pgadmin"
    ports:
      - "5050:5050"

volumes:
  pgadmin_data:
